.infos
	color: white;
	padding: 8px;
	position: fixed
	top: 0px;
	right: 0px

	background-color: rgba(0,0,0,0.5)
	
	z-index: 100
	width: 320px
	height: 50px;
	#login-buttons
		float: left;

	#login-dropdown-list
		float: left;
		list-style: none;
		.dropdown-toggle
			color: white
		.dropdown-menu>li
			 
			padding-bottom: 4px
			a
				padding: 0px
				width:100%
				.btn
					width: 100%
		
	.status
		text-align: right;
		float: right;

