.loading
	text-align: center
	img 
		width: 275px
.inline
	display: inline;
.clear
	clear: both;
.sheet
	-webkit-column-count:3; /* Chrome, Safari, Opera */
	-moz-column-count:3; /* Firefox */
	column-count:3;

	height: 800px
	width: 1200px
	border: 1px dashed black
	margin: 40px
	padding: 40px


	.editor
		width: 100%
		z-index: 100
		border: 1px dashed
		box-sizing: border-box
		background-color: rgba(255,255,255,0.9)
	.editor-tail
		height: 50px
		position: relative
	.element
		
		box-sizing: border-box
		cursor: cell
		position: relative
		margin-bottom: 10px
		img
			max-width: 100%
		.editor-element
			z-index: 110
			display: none;
			position: absolute
			top: 0px
			left: 0px
			right: 0px
			bottom: 0px
	.element:hover
		background-color: #fafafa
	.element.editing
		min-height: 50px
		.content 
			-webkit-filter: blur(4px);
		.editor-element
			display: block

.dimmer
	pointer-events: none
	z-index: 10
	position: fixed
	top: 0px
	bottom: 0px
	left: 0px
	right: 0px
	background-color: black
	opacity: 0
	transition: 0.3s ease-out

body.editing
	.dimmer
		opacity: 0.1